*{
    padding: 0;
    color: white;

}
body{
    margin: 0%;
}
.bgimg{
    background-image: url(./image/hero1.jpg);
    height: auto;
    width: 100%;
    background-size: cover;
    background-position: center;
    /* transform:  rotate(-2deg); */
}nav{
    /* background-color: antiquewhite; */
    padding: 0%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 5%;

}
.divfilter{

    height: auto;
    width: 100%;
    backdrop-filter: contrast(100%) blur(2.7px) brightness(70%);

}
h1 b{
    color: orange;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.right{
    display: flex;
    /* flex-wrap: wrap; */
    width: 40%;
}
.right p a{
    text-decoration: none;
}
.right p{
    margin-right: 5%;
    height: 27px;

    
}
.right p:hover{
    border-bottom: 3px solid orange;

    transition: all ease-in-out 0.1s;
}
/* .text hr{
    width: 12%;
    float: left;
    height: 3px;
    border: none;
    background-color: orange;
    transform: rotate(-40deg);

} */
.text{
    width: 40%;
}
.text h1{
    font-size: 5rcap;
}
.text h2{
    margin-top: -2.6%;
    font-weight: 300;
    opacity: 0.8;
}

button{
    height: 45px;
    width: 30%;
    border: none;
    background-color: black;
    border: 0.5px solid white;
    border-top-left-radius:28px;
    border-top-right-radius:28px;
    border-bottom-left-radius:28px;
    border-bottom-right-radius:28px;
    

}
button:hover{
    background-color: rgb(231, 163, 39);
    cursor: pointer;
    border: none;
}
button:hover i{
    color: black;
}
.img1
{
    background-image: url(./image/last.png);
    height: 500px;
    width: 400px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: -1.5%;
    
    
}
.main{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

@media screen and (max-width:800px) {
    nav .right{
        width: 100%;
        font-size: 1.3rcap;
    }
    .main .text{
        width: 90%;
    }
    .main .text h1{
        font-size: 3rcap;
    }
    .main .text h2{
        font-size: 1.7rcap;
    }
    .main .text .p1{
        width: 90%;
        font-size: 1.4rcap;
    }
    button{
        width: 35%;
    }
    .main .img1{
        margin-top: 10%;
    }
    
}
/* sect2 */
.text1{
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    margin-left: -10PX;


}
.text1:HOVER{
    transition: all ease-in-out 0.6s;
    transform: skew(20deg);


}
.img2{
    background-image: url(./image/bb7909ca0e18f79828a3240e57115cca.jpg);
    height: 500px;
    width: 170px;
    background-size: cover;
    background-position: center;
    transform: skew(-15deg);

}
/* .img2:hover{
    width: 200px;
    transition: all ease-in-out 0.6s;
    transform: skew(0deg);


} */
.img3{
    background-image: url(./image/pexels-photo-3289711.jpg);
    height: 500px;
    width: 170px;

    margin-top: 3%;
    margin-left: 1%;
    background-size: cover;
    background-position: left;
    transform: skew(-15deg);
    



}
/* .img3:hover{
    transform: skew(0deg);

    width: 200px;
    transition: all ease-in-out 0.6s;

} */
.text2 h1,h3,.p2{
    color: black;
}
.text2 h1{
    font-size: 3.6rcap;
    text-shadow: 0px 4px 5px rgba(0,0,0,0.6);
}
.text2 h3{
    margin-top: -7%;
    font-weight: 200;
}
.text2{
    width:40%;
}
.outdiv{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap ;
}
.but1{
    height: 45px;
    width: 30%;
    border: none;
    color: black;
    background-color: white;
    border: 0.5px solid orange;
    border-top-left-radius:28px;
    border-top-right-radius:28px;
    border-bottom-left-radius:28px;
    border-bottom-right-radius:28px;
    

}

@media screen and (max-width:800px) {
    .img2{
        height: 400px;
        width: 140px;
    }
    .img3{
        height: 400px;
        width: 140px;
    }
    .text1{
        margin-left:8%;
    }
    .text2{
        width: 90%;
        margin-top: 10%;
    }
    .text2 .p2{
        width: 80%;
        font-size: 1.4rcap;
    }
    .but1{
        width: 35%;
    }
    
}

/*  */
.img4{
    background-image: url(./image/wp8077581.jpg);
    height: 600px;
    width: 100%;
    background-size: cover;
    background-position: center;
    
    
}
.text5{
    backdrop-filter: blur(2px) saturate(100%);
    text-align: center;
    padding: 15%;
}
.text5 h1{
    text-transform: uppercase;
    font-size: 4rcap;
    
}
.text5 .p3{
    margin-top: -2%;
    opacity: 0.8;
}
@media screen and (max-width:800px) {
    .text5 h1{
        font-size: 3rcap;
    }
    .text5{
        padding: 23%;
    }
    
}

.sec4{
    margin-top: 8%;
}
.sec4 h2{
    
    text-align: center;
    color: black;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 0px 4px 5px rgba(0,0,0,0.6);

}
.icon1{
    height: 250px;
    width: 350px;
    box-shadow: -1px 3px 29px -9px rgba(233,158,49,0.75);
    -webkit-box-shadow: -1px 3px 29px -9px rgba(233,158,49,0.75);
    -moz-box-shadow: -1px 3px 29px -9px rgba(233,158,49,0.75);    text-align: center;
}
.icon1 p i{
    color: orange;
    font-size: 2.6rcap;
    text-shadow: 0px 4px 5px rgba(0,0,0,0.6);

    transform: rotate(-10deg);
    margin-top: 6%;
}
.icon1:hover{
  
    transition: all ease-in 0.3s;

    box-shadow: 3px 1px 40px 6px rgba(233,158,49,0.75); ;
-webkit-box-shadow: 3px 1px 40px 6px rgba(233,158,49,0.75); ;
-moz-box-shadow: 3px 1px 40px 6px rgba(233,158,49,0.75); ;

}
.icon1:hover p i{
    transform: scale(1.4);
    transition: all ease-in 0.2s;

    

}
.icon1 p,h4{
    color: black;
}
.icon1 .p6{
    opacity: 0.8;
    width: 70%;
    margin: auto;
    font-size: 1.3rcap;
}
.icons{ 
    margin-top: 7%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 6%;
}



@media screen and (max-width:800px) {
    .icon1{
        margin-top: 10%;
        height: 250px;
        width: 310px;
    }
    
}

/*  */
.img6{
    background-image: url(./image/wp8077684.jpg);
    height: auto;
    width: 100%;
    background-size: cover;
    background-position: left;
    
}

.blur{
    height: auto;
    width: 100%;
    backdrop-filter: blur(8px) brightness(70%);
}

.text7{
    text-align: center;
    padding: 1%;
}
.text7 h1{
    font-size: 4rcap;
    text-shadow: 0px 4px 5px rgba(0,0,0,0.6);

}
.t1{
    text-align: center;
    height: 400px;
    width: 300px;
}

.t1img{
    background-image: url(./image/t1.jpg);
    height: 400px;
    width: 300px;
    border-radius: 7%;

}
.t1img:hover{
    transform: scale(1.05);
    transition: all ease-in 0.3s;
    cursor: pointer;
}
.t1:hover h2{
    color: orange;
}
#t2{
    background-image: url(./image/t2.jpg);
    height: 400px;
    width: 300px;
    border-radius: 7%;

}
#t2:hover{
    transform: scale(1.05);
    transition: all ease-in 0.3s;
    cursor: pointer;
}
#t3{
    background-image: url(./image/Capture.PNG);
    height: 400px;
    width: 300px;
    background-size: cover;
    border-radius: 7%;
    background-position: center;

}
#t3:hover{
    transform: scale(1.05);
    transition: all ease-in 0.3s;
    cursor: pointer;
}

.link{
    height: 50px;
    width: 50%;
    /* text-align: center; */
    display: flex;
    background-color: rgb(255, 255, 255);
    border-top-left-radius:28px;
    border-top-right-radius:28px;
    border-bottom-left-radius:28px;
    border-bottom-right-radius:28px;
    position: relative;
    top: 90%;
    left: 25%;
    bottom: 0px;


}
.links1{
    color: black;
    display: flex;

    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    text-align: center;
}
.links1 p{
    text-align: center;
}
.links1 p i{
    color: black;
}
.links1 p i:hover{
    color: orange;
    cursor: pointer;
}
.train{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

}

@media screen and (max-width:800px) {
    .t1{
        margin-bottom: 40%;
    }
    .train{
        margin-top: 10% ;
    }
    
}

.img10{
    background-image: url(./image/photo-1605296867304-46d5465a13f1.avif);
    height: auto;
    width: 100%;
    background-size: cover;
    background-position: center;


}

.text10{
    width: 40%;
    margin: 8% 4%;
}
.text10 h1{
    font-size: 3.8rcap;
}
.text10 .p10 {
    margin-top: -5%;
    opacity: 0.8;
}
@media screen and (max-width:800px) {
    .text10{
        width: 80%;
    }
    .text10 h1{
        font-size: 3rcap;
    }
    .text10 .p10{
        font-size: 1.2rcap;
    }
    
}

.mid

{
    text-align: center;
    height: 200px;
    width: 100%;
    background: rgb(236,173,79);
background: linear-gradient(-45deg, rgba(233,158,49,0.6) 20%, rgb(94, 94, 93) 74%, rgba(0,0,0,1) 100%);
}

.mid h1{
    font-size: 4rcap;
    font-family: cursive;
}

.footimg{
    background-image: url(./image/834294.jpg);
    height: auto;
    width: 100%;
    background-size: cover;
    background-position: center;


}
.ftblur{
    height: auto;
    width: 100%;
    backdrop-filter:  brightness(60%);


}
.div1{
    width: 24%;
}
.div1:hover h1 i{
    transform: rotate(-30deg);
    transition: all 0.5s ease-in-out;


}
.div1 h1 i{
    font-size: 20px;
    transform: rotate(30deg);
}
.div1 .p20{
    font-size: 1.2rcap;
    margin-bottom: 15%;
}
.div1 #icon i{
    margin: 0 3%;
}
.div1 #icon:hover i{
    color: rgb(231, 163, 39);


}
.div2, .div3{
    width: 30%;
}
.div2 img:hover{
    opacity: 0.7;
}
.divzz{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}
.div3 input{
    background: none;
    border: none;
    border-bottom: 2px solid orange ;
    color: white;
    padding: 0 5%;
    margin-bottom: 10%;

}

input:focus{
    outline: none;
}
::placeholder{
    color: white;
    font-family: cursive;
}
@media screen and (max-width:800px) {
    .mid h1{
        font-size: 3rcap;
    }
    .div1, .div2, .div3{
        width: 80%;
        margin-bottom: 10%;
    }
    .div1 .p20{
        margin-bottom: 8%;

    }
    .footimg{
        background-position: center;
    }
}
.ftblur hr{
    opacity: 0.6;
}

.last{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2%;
}
.last p h1{
    font-size: 2rcap;
}
::selection{
    background-color: rgba(255, 166, 0, 0.449);
}
